<a href="https://colab.research.google.com/github/Wilkin184/PythonProgramming/blob/main/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [3]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

28

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors()

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [ ]:
def first_diff()

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [9]:
def div(x,n=2):
  """
  in order to divide one number by another
  input: number, divisor (if no divisor is given default is 2)
  return: result of x/n
  """
  result= x/n
  return result
div(9.4)

4.7

In [15]:
def root(x,n=2):
  result=(x**(1/n))
  return result
div(16)

8.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

/bin/bash: -c: line 1: syntax error near unexpected token `square'
/bin/bash: -c: line 1: `help(square root)'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”